

body {
    margin: 0;
    padding: 0;
}

.main{
    max-width: 100%;
    height: 100vh;
    min-height: 400px;
    font-family: 'Lato', sans-serif;
    background-color: #ffb142;
    text-align: center;
    overflow-x: hidden;
}

.app-name {
    color: white;
    text-align: center;
    margin: 50px 0 0 0;
}

.app-description {
    margin: 0;
    color: white;
    text-align: center;
}

#app-textarea {
    /*position: absolute;*/
    top: 3.5em;
    left: calc(50% - 210px);
    width: 50%;
    height: 155px;
    padding: 8px 12px;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    color: #666;
    box-shadow: 0 10px 20px -10px #333;
    resize: none;
    margin-top: 50px;
}

.btn{
    display: block;
    margin: 30px auto;
    padding: 7px 25px;
    top: 2.8em;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 1em;
    color:  #ffb142;
    font-weight: 500;
    box-shadow: 0 10px 20px -10px #333;
    cursor: pointer;
    overflow: hidden;
}

.app-output {
    width: 50%;
    height: 220px;
    padding: 8px 12px;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    color: #666;
    box-shadow: 0 10px 20px -10px #333;
    margin: 50px 0 0 24%;
    text-align: center;
    visibility: hidden
}
.footer {
    height: 10vh;
    min-height: 90px;
    background-color: #ffb142;
    text-align: center;
}
.footer-copyright {
    margin: 0;
    padding-top: 1em;
    color: #f5f5f6;
    font-size: 1.1em;
}